body {
    background-color: rgb(243, 193, 193);
}

.nbar a {
    text-decoration: none;
    color: black;
}

.task-done-icon {
height: 20px;
    width: 20px;
    background-color: #69c069;
    border-radius: 50%;
    margin-right:10px;
}
        
.task-not-done-icon {
    height: 20px;
    width: 20px;
    background-color: rgb(218, 218, 218);
    border-radius: 50%;
    margin-right: 10px;
}