{% extends 'my_tasks/main.html' %}
{% block content %}
<div class="navbar navbar-light bg-light nbar">
    <div class="other-nav">
        <a href="{% url 'tasks' %}"><i class="fa fa-home fa-lg home-button" aria-hidden="true"></i></a>
    </div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'signout' %}">Logout</a>
    {% else %}
    <a href="{% url 'signin' %}">Login</a>
    {% endif %}
</div>
<hr>

<h3>Task Form</h3>
<!-- <a href="{% url 'tasks' %}">Go back home</a> -->

<form method="POST">
  {% csrf_token %} {{form.as_p}}
  <input class="btn btn-success" type="submit" value="Submit">
</form>

{% endblock content %}